.bannerBg{
  background-color: #000;
}
.navbar-toggler{
    border: 0px;
}
.pt_40{
    padding-top: 40px;
}

.navbar {
    background: transparent;
    transition: background 0.3s ease-in-out;
}

.scrolled-navbar {
    background: #ffffff; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.logoWidth {
    height: 25px; 
}

.trialBtn button {
    background-color: #dd0735;
    color: #fff;
    border: none;
    padding: 13px 40px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    text-decoration: none;
}
.bannerContent h3{
    font-size: 45px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 20px;
}
.trialForm input {
    line-height: 2.2;
    font-size: 18px;
}
.trialBtn2 button {
    font-size: 18px;
    padding: 13px 17px;
}
.bannerBelowContent p {
    color: #fff;
    font-size: 14px;
    width: 75%;
    margin-top: 20px;
}
.rightBorder{
border-right: 1px solid hsla(0, 0%, 100%, .2);
height: 100%;
}
.sideBorder{
    border-right: 1px solid hsla(0, 0%, 100%, .2);
height: 100%;
}
.bannerBelowBg{
    background-color: #1a1c2b;
    padding: 20px 0 0px;
}
.bannerBelowContent img{
    width: 30%;
}
.bannerBelowContent{
    display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 17px 0px 0px 0px;
}
.rightContent{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    padding: 20px 1px 0px 35px;
}
button:focus:not(:focus-visible) {
    outline: 0;
    border: none;
}