/***** Responsive CSS START *****/
@media only screen and (min-width: 1920px) {}

@media only screen and (width: 1920px) {}

@media only screen and (min-width: 1600px) and (max-width: 1919px) {}

@media only screen and (min-width: 1400px) and (max-width: 1599px) {}
@media only screen and (min-width: 1300px) and (max-width: 1400px) {
.trialBtn2 button {
    padding: 12px 2px;
}
    .tabSection .nav-link {
    color: #020a1980;
    font-size: 21px;
    border: .5px solid #e5e7eb;
    border-radius: 3px;
    padding: 17px 24px;
    width: 223px;
}

    
}
@media only screen and (min-width: 1025px) and (max-width: 1300px) {
    .trialBtn2 button {
    padding: 12px 2px;
}
    .tabSection .nav-link {
    color: #020a1980;
    font-size: 21px;
    border: .5px solid #e5e7eb;
    border-radius: 3px;
    padding: 17px 24px;
    width: 223px;
}
}

@media only screen and (device-width: 1024px) {
    .tabSection .nav-link {
        color: #020a1980;
        font-size: 16px;
        border: 0.5px solid #e5e7eb;
        border-radius: 3px;
        padding: 17px 4px;
        width: 187px;
    }
    .footerBtn button {
        padding: 13px 9px;
        font-size: 16px;
    }
}

@media only screen and (max-width: 1024px) {}

@media only screen and (min-width: 993px) and (max-width: 1350px) {}

@media only screen and (min-width: 993px) {}

@media only screen and (max-width: 992px) {}

@media only screen and (min-width: 812px) and (max-width: 992px) {}

@media screen and (min-width: 769px) and (max-width: 1200px) {}

@media screen and (min-width: 769px) and (max-width: 1188px) {}

@media only screen and (min-width: 769px) and (max-width: 992px) {}

@media only screen and (min-width: 667px) and (max-width: 768px) {}

@media only screen and (min-width: 640px) and (max-width: 768px) {}

@media only screen and (max-width: 768px) {
    .tabSection .nav-link {
        font-size: 14px;
        padding: 17px 9px;
        width: 139px;
    }
    .footerBtn button {
        padding: 13px 22px;
        font-size: 16px;
    }
    .rightContent {
        padding: 20px 1px 0px 0px;
    }
    .brand-title h3 {
        width: 100%;
    }
    .chooseImage {
        display: flex ;
        justify-content: end;
    }
    .choose-title h3 {
        font-size: 33px;
    }
    .chooseImageContainer {
        margin: 0 9% 10% 40%;
    }
    .swiper-button-prev, .swiper-button-next {
        background: white;
        padding: 18px 25px;
        border-radius: 8px;
    }
    
    .swiper-button-prev{
        position: absolute;
    left: 30%;
    top: 95%;
    }
            .swiper-button-next {
                position: absolute;
                left: 50%;
                top: 95%;
            }
    .chooseImageContent h4 {
        font-size: 19px;
        text-align: center;
    }
    .chooseImageContentInner {
        text-align: left;
        padding: 20px 29px;
    }
    .footerSign {
        width: 85%;
        margin: 10px auto;
    }
}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 767px) {}

@media only screen and (max-width: 767px) {}

@media only screen and (max-width: 750px) {}

@media only screen and (min-width: 731px) and (max-width: 736px) {}

@media only screen and (max-width: 700px) {}

@media only screen and (device-width: 640px) {}

@media only screen and (max-width: 640px) {}

@media only screen and (min-width: 480px) and (max-width: 667px) {}

@media only screen and (max-width: 667px) {}

@media (min-width: 576px) {}

@media only screen and (max-width: 575px) {}

@media only screen and (min-width: 480px) {}

@media only screen and (max-width: 480px) {
    .bannerContent h3{
        text-align: center;
        font-size: 33px;
    }
    .trialBtn2 button {
       width: 100%;
       margin-bottom: 40px;
    }
    .rightContent {
        display: block;
        height: auto;
        padding: 20px 1px 0px 9px;
    }
    .sideBorder {
        border-right: 0px solid hsla(0, 0%, 100%, .2);
        border-bottom: 1px solid hsla(0, 0%, 100%, .2);
        height: 100%;
        width: 35%;
        margin: 5px auto;
    }
    .mobileResCenter{
        text-align: center;
        margin-bottom: 25px;
    }
    .bannerBelowContent img {
        width: 25%;
    }
    .bannerBelowContent p {
        font-size: 14px;
        width: 100%;
        margin-top: 20px;
    }
    .tooltip-box {
        right: 0%;
    }
    .tabSectionTitle h2 {
        font-size: 25px;
    }
    .tabContentTitle h2 {
        font-size: 20px;
        padding: 10px 0px;
    }
  
    .brandSideCard .card-header {
        font-size: 23px;
    }
    .choose-title h3 {
        font-size: 33px;
    }
    .chooseImageContainer {
        margin: 0 9% 10% 7%;
        padding: 40px 0px;
    }
    
    .swiper-button-prev{
        position: absolute;
    left: 30%;
    top: 95%;
    }
            .swiper-button-next {
                position: absolute;
                left: 50%;
                top: 95%;
            }
    .sideContentBg {
        background-color: white;
        border-radius: 0px 0px 20px 20px;
    }
    .chooseImage img {
        border-radius: 20px 20px 0px 0px ;
    }
    .chooseImageContent h4 {
        font-size: 19px;
        text-align: center;
    }
    .chooseImageContentInner {
        text-align: left;
        padding: 20px 29px;
    }
    .footerBtn button {
        width: 100%;
        margin-bottom: 20px;
    }
    .footer-title h3{
        font-size: 30px;
    }
    .footerSign {
        width: 100%;
        margin: 10px auto;
    }
    .terms{
        display: flex ;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
    }
    .chooseImage {
        display: flex;
        justify-content: center;
    }
    .chooseImage img{
        width: 100%;
    }
}

@media screen and (min-width: 471px) and (max-width: 767px) {}

@media screen and (min-width: 450px) and (max-width: 768px) {}

@media only screen and (min-width: 320px) and (max-width: 479px) {}

@media only screen and (max-width: 414px) {

}

@media only screen and (min-width: 411px) and (max-width: 414px) {}

@media only screen and (min-width: 540px) and (max-width: 540px) {}

@media only screen and (min-width: 393px) and (max-width: 393px) {}

@media only screen and (min-width: 376px) and (max-width: 480px) {}

@media screen and (min-width: 376px) and (max-width: 470px) {}

@media only screen and (min-width: 375px) and (max-width: 400px) {}

@media only screen and (min-width: 375px) and (max-width: 390px) {}

@media only screen and (max-width: 390px) {}

@media only screen and (max-width: 375px) {}

@media only screen and (max-width: 360px) {}

@media only screen and (max-width: 320px) {}

@media only screen and (max-width: 290px) {}

/***** Responsive CSS END *****/
/***** Responsive CSS END *****/
/* Responsive Section */
